/* Main Stylesheet - Imports all modular CSS files */
@import url('./base.css');
@import url('./components.css');
@import url('./loading.css');
@import url('./fluid-background.css');
@import url('./theme.css');
@import url('./header.css');
@import url('./about.css');
@import url('./achievements.css');
@import url('./skills.css');
@import url('./experience.css');
@import url('./education.css');
@import url('./projects.css');
@import url('./featured-projects.css');
@import url('./footer.css');
@import url('./chatbot.css');
@import url('./matrix.css');
@import url('./animations.css');
@import url('./responsive.css');
